*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: linear-gradient(90deg, #e9f0fc 0%, #d9e4f5 100%)
}
header{
  width: 90%;
  max-width: 800px;
  background-color: white;
  margin: 10px auto 0;
  padding: 10px 2%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #70a0f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main{
  padding-bottom: 20px;
}
.class-info{
  margin-right: auto;
}
.nav-button ul{
  display: flex;
  gap: 20px;
}
.nav-button ul li{
  list-style: none;
}
.nav-button a{
  text-decoration: none;
  color: #70a0f4;
  font-weight: bold;
  margin-left: 20px;
  transition: all 0.3s;
  font-size: 14px;
}
.nav-button a:hover{
  text-decoration: underline;
  color: #007bff;
}
.add, .details{
  width: 90%;
  max-width: 800px;
  margin: 40px auto 0;
  background-color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.add:hover, .details:hover{
  transform: translateY(-5px);
}
.add h2{
  color: #70a0f4;
  font-weight: 500;
}
.add form{
  padding: 10px 0;
}
.add-form label{
  display: block;
}
.name, .DOB,
.gender{
  width: 100%;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  /* color: #70a0f4; */
}
#student-name, #student-DOB, #gender-option{
  display: block;
  width: 95%;
  padding: 9px;
  margin-left: 8px;
  border-radius: 8px;
  border: 1px solid #70a0f4;
  font-size: 13px;
  outline: none;
}
#gender-option{
  margin-bottom: 35px;
}
#student-DOB{
  cursor: pointer;
}
#male,
#female,
#other{
  margin-left: 8px;
}
#button, #clear-button{
  background-color: #70a0f4;
  color: white;
  display: block;
  width: 100px;
  margin: auto;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
#clear-button{
  margin-top: 20px;
}
.details{
  background-color: #a1c2fa;
}
.details h1{
  color: #fff;
}
.details-heading{
  display: flex;
  margin-top: 10px;
  color: white;
}
.record{
  margin: auto;
  background-color: white;
  transition: all 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #a1c2fa;
  padding: 8px 0;
  border: none;
  border-radius: 10px;
}
.details-heading p{
  flex: 1;
  text-align: center;
}