@media (max-width: 768px) {
  .side-bar ul li a{
    font-size: 1rem;
  }
  main{
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .side-bar ul li a{
    flex-direction: column;
    font-size: 0.9rem;
  }
  main{
    padding: 1rem;
  }     
}